.navbar {
    border-bottom: 0.1rem solid rgb(67, 255, 98);
}

.navli .carrinho {
    display: none;
}

.navli .lupa {
    display: none;
}

.navli .button {
    display: none;
}

.sidebar {
    visibility: hidden;
}

.sideli a {
    font-size: 2rem;
}

.spacing{
    padding-bottom: 5.05rem;
}

.content h2{
    font-size: 1rem;
}

.content h2 span{
    font-size: 2rem;
}

.navli .menu {
    display: block;
    visibility: visible;
}

.figures .figure a{
    font-size: 1.5rem;
}

.figures .figure img{
    max-width: 75%;
}

header {
    visibility: hidden;
}